@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{
        @apply px-2 py-2 inline-block text-fourth bg-sec border-transparent font-bold hover:bg-transparent hover:text-sec hover:border-sec border-2
    }
    .nav-links{
        @apply text-2xl md:text-base dark:text-white px-5 py-3 hover:text-fourth border-b-2 border-b-transparent hover:border-b-fourth
}

    @layer utilities { 
        .circle{
            display: flex;
            width: 2em;
            height: 2em;
            background: gray;
            border-radius:50%
        }
        #footer_links a{
            @apply inline-block py-1 text-white;
        }
        #footer_links a:hover{
            color:var(--color4)
        }
        #footer_social_links a{
            @apply flex w-10 aspect-square bg-gray-900 justify-center items-center text-white;
        }
        #footer_social_links a:hover{
            background: var(--color4);
            @apply text-gray-950;
        }

        .form_control{
            @apply flex flex-col md:flex-row my-2;
            & label{
                @apply w-1/5;
            }
            & *:not(label){
                @apply md:w-4/5 text-gray-950 px-2 py-1;
            }
            & textarea{
                line-height: 1.5;
                min-height: 2.5lh;
                
            }
        }

        .tags{
            @apply border-2 border-transparent inline-flex py-1 px-2 rounded-full font-bold select-none md:text-sm
        }
        .tag-dialogo{
            @apply border-green-400 text-green-500 bg-green-900/40;
        }
        .tag-conferencia{
            @apply border-fourth text-fourth bg-blue-900/40;
        }
        .tag-exposicion{
            @apply border-red-400 text-red-400 bg-red-900/40;
        }
        .tag-break{
            @apply text-orange-500 ;
        }
        li > div:last-child{
            @apply min-w-56 min-h-32
        }
    }
}